html.dark .astro-code,
html.dark .shiki,
html.dark .astro-code span,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki,
.astro-code {
  background-color: transparent !important;
}

.shiki,
.astro-code {
  & code {
    @apply grid w-full;
  }

  & span.line {
    @apply h-6 content-center border-l-2 border-l-transparent px-4;
  }

  & span.line:nth-last-child(1) {
    @apply hidden;
  }

  /* 行番号表示 */
  & code[data-line-numbers] {
    & {
      counter-reset: line;
    }

    & > span[data-line]::before {
      content: counter(line);
      counter-increment: line;
      @apply mr-4 inline-block w-4 text-right text-muted-foreground;
    }
  }

  /* 行ハイライト */
  & span[data-highlighted-line] {
    @apply border-l-blue-400 bg-zinc-500/10 dark:bg-zinc-600/20;
  }

  /* diffハイライト */
  & code[data-diff] {
    & > span > span:first-child {
      @apply ml-4;
    }

    & span[data-diff-added] {
      & {
        @apply bg-green-500/10 dark:bg-green-600/20;
      }

      & > span:first-child {
        & {
          @apply ml-0;
        }

        &::before {
          content: "+";
          @apply mr-2 text-green-500 dark:text-green-600;
        }
      }
    }

    & span[data-diff-removed] {
      & {
        @apply bg-red-500/10 dark:bg-red-600/20;
      }

      & > span:first-child {
        & {
          @apply ml-0;
        }

        &::before {
          content: "-";
          @apply mr-2 text-red-500 dark:text-red-600;
        }
      }
    }
  }
}
