[data-callout] {
  & {
    @apply my-6 space-y-2 rounded-lg border border-blue-600/20 bg-blue-400/20 p-4 pb-5 dark:border-blue-800/20 dark:bg-blue-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply flex flex-row items-start gap-2 p-0 font-bold text-blue-500;
    }

    &:not:only-child {
      @apply mb-2;
    }

    &:empty::after {
      content: "Note";
    }

    &::before {
      @apply mt-1 block h-5 w-5 bg-current content-[""];
      mask-repeat: no-repeat;
      mask-size: cover;

      /* lucide-pencil */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTE3IDNhMi44NSAyLjgzIDAgMSAxIDQgNEw3LjUgMjAuNUwyIDIybDEuNS01LjVabS0yIDJsNCA0Ii8+PC9zdmc+");
    }
  }

  & > [data-callout-body] {
    & {
      @apply space-y-2;
    }

    & > * {
      @apply m-0;
    }
  }
}

[data-callout][data-callout-type="info"] {
  & {
    @apply border-blue-600/20 bg-blue-400/20 dark:border-blue-800/20 dark:bg-blue-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-blue-500;
    }

    &:empty::after {
      content: "Info";
    }

    &::before {
      /* radix-icons:info */
      mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 15 15'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M7.5.877a6.623 6.623 0 1 0 0 13.246A6.623 6.623 0 0 0 7.5.877ZM1.827 7.5a5.673 5.673 0 1 1 11.346 0a5.673 5.673 0 0 1-11.346 0Zm6.423-3a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0ZM6 6h1.5a.5.5 0 0 1 .5.5V10h1v1H6v-1h1V7H6V6Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }
}

[data-callout][data-callout-type="todo"] {
  & {
    @apply border-blue-600/20 bg-blue-400/20 dark:border-blue-800/20 dark:bg-blue-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-blue-500;
    }

    &:empty::after {
      content: "ToDo";
    }

    &::before {
      /* radix-icons:check-circled */
      mask-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M7.49991%200.877045C3.84222%200.877045%200.877075%203.84219%200.877075%207.49988C0.877075%2011.1575%203.84222%2014.1227%207.49991%2014.1227C11.1576%2014.1227%2014.1227%2011.1575%2014.1227%207.49988C14.1227%203.84219%2011.1576%200.877045%207.49991%200.877045ZM1.82708%207.49988C1.82708%204.36686%204.36689%201.82704%207.49991%201.82704C10.6329%201.82704%2013.1727%204.36686%2013.1727%207.49988C13.1727%2010.6329%2010.6329%2013.1727%207.49991%2013.1727C4.36689%2013.1727%201.82708%2010.6329%201.82708%207.49988ZM10.1589%205.53774C10.3178%205.31191%2010.2636%205.00001%2010.0378%204.84109C9.81194%204.68217%209.50004%204.73642%209.34112%204.96225L6.51977%208.97154L5.35681%207.78706C5.16334%207.59002%204.84677%207.58711%204.64973%207.78058C4.45268%207.97404%204.44978%208.29061%204.64325%208.48765L6.22658%2010.1003C6.33054%2010.2062%206.47617%2010.2604%206.62407%2010.2483C6.77197%2010.2363%206.90686%2010.1591%206.99226%2010.0377L10.1589%205.53774Z%22%20fill%3D%22currentColor%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    }
  }
}

[data-callout][data-callout-type="abstract"],
[data-callout][data-callout-type="summary"],
[data-callout][data-callout-type="tldr"] {
  & {
    @apply border-cyan-600/20 bg-cyan-400/20 dark:border-cyan-800/20 dark:bg-cyan-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-cyan-500;
    }

    &::before {
      /* lucide:clipboard-list */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHJlY3Qgd2lkdGg9IjgiIGhlaWdodD0iNCIgeD0iOCIgeT0iMiIgcng9IjEiIHJ5PSIxIi8+PHBhdGggZD0iTTE2IDRoMmEyIDIgMCAwIDEgMiAydjE0YTIgMiAwIDAgMS0yIDJINmEyIDIgMCAwIDEtMi0yVjZhMiAyIDAgMCAxIDItMmgybTQgN2g0bS00IDVoNG0tOC01aC4wMU04IDE2aC4wMSIvPjwvZz48L3N2Zz4=");
    }
  }
}

[data-callout][data-callout-type="abstract"] > [data-callout-title]:empty::after {
  content: "Abstract";
}

[data-callout][data-callout-type="summary"] > [data-callout-title]:empty::after {
  content: "Summary";
}

[data-callout][data-callout-type="tldr"] > [data-callout-title]:empty::after {
  content: "TL;DR";
}

[data-callout][data-callout-type="tip"],
[data-callout][data-callout-type="hint"],
[data-callout][data-callout-type="important"] {
  & {
    @apply border-cyan-600/20 bg-cyan-400/20 dark:border-cyan-800/20 dark:bg-cyan-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-cyan-500;
    }

    &::before {
      /* lucide:flame */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTguNSAxNC41QTIuNSAyLjUgMCAwIDAgMTEgMTJjMC0xLjM4LS41LTItMS0zYy0xLjA3Mi0yLjE0My0uMjI0LTQuMDU0IDItNmMuNSAyLjUgMiA0LjkgNCA2LjVjMiAxLjYgMyAzLjUgMyA1LjVhNyA3IDAgMSAxLTE0IDBjMC0xLjE1My40MzMtMi4yOTQgMS0zYTIuNSAyLjUgMCAwIDAgMi41IDIuNSIvPjwvc3ZnPg==");
    }
  }
}

[data-callout][data-callout-type="tip"] > [data-callout-title]:empty::after {
  content: "Tip";
}

[data-callout][data-callout-type="hint"] > [data-callout-title]:empty::after {
  content: "Hint";
}

[data-callout][data-callout-type="important"] > [data-callout-title]:empty::after {
  content: "Important";
}

[data-callout][data-callout-type="success"],
[data-callout][data-callout-type="check"],
[data-callout][data-callout-type="done"] {
  & {
    @apply border-green-600/20 bg-green-400/20 dark:border-green-800/20 dark:bg-green-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-green-500;
    }

    &::before {
      /* lucide:check */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIwIDZMOSAxN2wtNS01Ii8+PC9zdmc+");
    }
  }
}

[data-callout][data-callout-type="success"] > [data-callout-title]:empty::after {
  content: "Success";
}

[data-callout][data-callout-type="check"] > [data-callout-title]:empty::after {
  content: "Check";
}

[data-callout][data-callout-type="done"] > [data-callout-title]:empty::after {
  content: "Done";
}

[data-callout][data-callout-type="question"],
[data-callout][data-callout-type="help"],
[data-callout][data-callout-type="faq"] {
  & {
    @apply border-orange-600/20 bg-orange-400/20 dark:border-orange-800/20 dark:bg-orange-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-orange-500;
    }

    &::before {
      /* lucide:circle-help */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTAiLz48cGF0aCBkPSJNOS4wOSA5YTMgMyAwIDAgMSA1LjgzIDFjMCAyLTMgMy0zIDNtLjA4IDRoLjAxIi8+PC9nPjwvc3ZnPg==");
    }
  }
}

[data-callout][data-callout-type="question"] > [data-callout-title]:empty::after {
  content: "Question";
}

[data-callout][data-callout-type="help"] > [data-callout-title]:empty::after {
  content: "Help";
}

[data-callout][data-callout-type="faq"] > [data-callout-title]:empty::after {
  content: "FAQ";
}

[data-callout][data-callout-type="warning"],
[data-callout][data-callout-type="caution"],
[data-callout][data-callout-type="attention"] {
  & {
    @apply border-orange-600/20 bg-orange-400/20 dark:border-orange-800/20 dark:bg-orange-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-orange-500;
    }

    &::before {
      /* lucide:triangle-alert */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0ibTIxLjczIDE4bC04LTE0YTIgMiAwIDAgMC0zLjQ4IDBsLTggMTRBMiAyIDAgMCAwIDQgMjFoMTZhMiAyIDAgMCAwIDEuNzMtM00xMiA5djRtMCA0aC4wMSIvPjwvc3ZnPg==");
    }
  }
}

[data-callout][data-callout-type="warning"] > [data-callout-title]:empty::after {
  content: "Warning";
}

[data-callout][data-callout-type="caution"] > [data-callout-title]:empty::after {
  content: "Caution";
}

[data-callout][data-callout-type="attention"] > [data-callout-title]:empty::after {
  content: "Attention";
}

[data-callout][data-callout-type="failure"],
[data-callout][data-callout-type="fail"],
[data-callout][data-callout-type="missing"] {
  & {
    @apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-red-500;
    }

    &::before {
      /* lucide:check */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTIwIDZMOSAxN2wtNS01Ii8+PC9zdmc+");
    }
  }
}

[data-callout][data-callout-type="failure"] > [data-callout-title]:empty::after {
  content: "Failure";
}

[data-callout][data-callout-type="fail"] > [data-callout-title]:empty::after {
  content: "Fail";
}

[data-callout][data-callout-type="missing"] > [data-callout-title]:empty::after {
  content: "Missing";
}

[data-callout][data-callout-type="danger"],
[data-callout][data-callout-type="error"] {
  & {
    @apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-red-500;
    }

    &::before {
      /* lucide:zap */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXphcCI+PHBhdGggZD0iTTQgMTRhMSAxIDAgMCAxLS43OC0xLjYzbDkuOS0xMC4yYS41LjUgMCAwIDEgLjg2LjQ2bC0xLjkyIDYuMDJBMSAxIDAgMCAwIDEzIDEwaDdhMSAxIDAgMCAxIC43OCAxLjYzbC05LjkgMTAuMmEuNS41IDAgMCAxLS44Ni0uNDZsMS45Mi02LjAyQTEgMSAwIDAgMCAxMSAxNHoiLz48L3N2Zz4=");
    }
  }
}

[data-callout][data-callout-type="danger"] > [data-callout-title]:empty::after {
  content: "Danger";
}

[data-callout][data-callout-type="error"] > [data-callout-title]:empty::after {
  content: "Error";
}

[data-callout][data-callout-type="bug"] {
  & {
    @apply border-red-600/20 bg-red-400/20 dark:border-red-800/20 dark:bg-red-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-red-500;
    }

    &::before {
      /* lucide:bug */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggZD0ibTggMmwxLjg4IDEuODhtNC4yNCAwTDE2IDJNOSA3LjEzdi0xYTMuMDAzIDMuMDAzIDAgMSAxIDYgMHYxIi8+PHBhdGggZD0iTTEyIDIwYy0zLjMgMC02LTIuNy02LTZ2LTNhNCA0IDAgMCAxIDQtNGg0YTQgNCAwIDAgMSA0IDR2M2MwIDMuMy0yLjcgNi02IDZtMCAwdi05Ii8+PHBhdGggZD0iTTYuNTMgOUM0LjYgOC44IDMgNy4xIDMgNW0zIDhIMm0xIDhjMC0yLjEgMS43LTMuOSAzLjgtNE0yMC45NyA1YzAgMi4xLTEuNiAzLjgtMy41IDRNMjIgMTNoLTRtLS44IDRjMi4xLjEgMy44IDEuOSAzLjggNCIvPjwvZz48L3N2Zz4=");
    }
  }
}

[data-callout][data-callout-type="bug"] > [data-callout-title]:empty::after {
  content: "Bug";
}

[data-callout][data-callout-type="example"] {
  & {
    @apply border-purple-600/20 bg-purple-400/20 dark:border-purple-800/20 dark:bg-purple-600/10;
  }

  & > [data-callout-title] {
    & {
      @apply text-purple-500;
    }

    &::before {
      /* lucide:list */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTggNmgxM004IDEyaDEzTTggMThoMTNNMyA2aC4wMU0zIDEyaC4wMU0zIDE4aC4wMSIvPjwvc3ZnPg==");
    }
  }
}

[data-callout][data-callout-type="example"] > [data-callout-title]:empty::after {
  content: "Example";
}

[data-callout][data-callout-type="quote"],
[data-callout][data-callout-type="cite"] {
  & {
    @apply border-zinc-600/20 bg-zinc-400/20 dark:border-zinc-800/20 dark:bg-zinc-600/15;
  }

  & > [data-callout-title] {
    & {
      @apply text-zinc-500;
    }

    &::before {
      /* lucide:quote */
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTMgMjFjMyAwIDctMSA3LThWNWMwLTEuMjUtLjc1Ni0yLjAxNy0yLTJINGMtMS4yNSAwLTIgLjc1LTIgMS45NzJWMTFjMCAxLjI1Ljc1IDIgMiAyYzEgMCAxIDAgMSAxdjFjMCAxLTEgMi0yIDJzLTEgLjAwOC0xIDEuMDMxVjIwYzAgMSAwIDEgMSAxbTEyIDBjMyAwIDctMSA3LThWNWMwLTEuMjUtLjc1Ny0yLjAxNy0yLTJoLTRjLTEuMjUgMC0yIC43NS0yIDEuOTcyVjExYzAgMS4yNS43NSAyIDIgMmguNzVjMCAyLjI1LjI1IDQtMi43NSA0djNjMCAxIDAgMSAxIDEiLz48L3N2Zz4=");
    }
  }
}

[data-callout][data-callout-type="quote"] > [data-callout-title]:empty::after {
  content: "Quote";
}

[data-callout][data-callout-type="cite"] > [data-callout-title]:empty::after {
  content: "Cite";
}
